a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: rgba(255,255,255,.55) !important;
    
}