.App {
  list-style-type: none;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.d-inline-block{
  border-radius: 15px;
  margin-right: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #907986;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
}